<a href="https://colab.research.google.com/github/NallelyLizardi/proyectomcd/blob/main/Lizardi_proyectoMCD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nallely LIzardi Trabajo final.

In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl

In [79]:

xls_IMM_url = "http://www.conapo.gob.mx/work/models/CONAPO/Marginacion/Datos_Abiertos/Municipio/IMM_2020.xls"
local_IMM_filename = "IMM_2020.xls"

df_IMM = pd.read_excel(xls_IMM_url, header=5)
df_IMM.head(7)

,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,POB_TOT,ANALF,SBASC,OVSDE,OVSEE,OVSAE,OVPT,VHAC,PL.5000,PO2SM,IM_2020,GM_2020,IMN_2020,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nacional,NaN,NaN,NaN,126014024.0,4.752150,29.713764,1.469115,0.660563,3.667182,3.807968,19.732297,26.999922,66.884043,—,—,—,—
2,01,Aguascalientes,1001.0,Aguascalientes,948990.0,1.644738,20.367220,0.104799,0.113169,0.378610,0.591434,10.339530,7.523683,54.226594,60.318795,Muy bajo,0.944508,2435
3,01,Aguascalientes,1002.0,Asientos,51536.0,3.526405,33.906364,2.650373,0.486448,0.858160,1.352430,22.942305,78.221049,78.565471,56.546071,Muy bajo,0.885433,1816
4,01,Aguascalientes,1003.0,Calvillo,58250.0,4.491509,42.482450,0.365177,0.516760,0.800978,1.040411,19.219858,51.301288,79.259777,57.058251,Muy bajo,0.893453,1932
5,01,Aguascalientes,1004.0,Cosío,17000.0,3.144867,27.696745,0.712855,0.577354,0.659833,1.030989,22.716866,65.470588,81.726369,57.11403,Muy bajo,0.894326,1948
6,01,Aguascalientes,1005.0,Jesús María,129929.0,2.380588,26.692477,0.277034,0.354957,0.860426,1.312652,16.404575,37.164143,56.748753,59.011762,Muy bajo,0.924042,2323

In [80]:
df_IMM.describe()

,CVE_MUN,POB_TOT,ANALF,SBASC,OVSDE,OVSEE,OVSAE,OVPT,VHAC,PL.5000,PO2SM
count,2469.000000,2.470000e+03,2470.000000,2470.000000,2470.000000,2470.000000,2470.000000,2470.000000,2470.000000,2470.000000,2470.000000
mean,19324.164844,1.020356e+05,10.162275,45.846491,3.159278,1.500453,6.117153,7.985540,26.563519,69.883100,82.137676
std,7382.892458,2.538770e+06,7.632863,13.982533,5.288337,2.768658,9.244254,8.972167,10.585289,35.271147,11.832032
min,1001.000000,8.100000e+01,0.353446,5.535137,0.000000,0.000000,0.000000,0.000000,3.950392,0.000000,28.453113
25%,14079.000000,4.490000e+03,4.427779,35.726469,0.651985,0.366107,0.878776,1.656176,18.727560,39.995078,74.615165
50%,20226.000000,1.355650e+04,8.198294,46.339039,1.430479,0.827971,2.452972,4.710012,25.000000,100.000000,84.630893
75%,24027.000000,3.528775e+04,13.776450,55.845490,3.342595,1.678270,7.280769,11.029618,32.817449,100.000000,91.619708
max,32058.000000,1.260140e+08,53.071253,88.328076,64.450424,53.065463,81.788441,68.149764,69.564018,100.000000,100.000000

In [81]:
df_mun_mar = df_IMM.groupby(['NOM_ENT', 'GM_2020']).size().unstack(fill_value=0)
df_mun_mar.head()
#porc = df_mun_mar.div(df_IMM.sum(axis=1), axis=0)
#porc.head()
#porc.plot.bar(stacked=True)
#pl.xlabel('Estado')
#pl.ylabel('Porcentaje')
#pl.title('Porcentaje de Municipios por Estado con Índices de Marginación')

#pl.savefig('grafica_marginacion.png')

GM_2020              Muy bajo  Medio  Alto  Bajo  Muy alto
NOM_ENT
Aguascalientes             11      0     0     0         0
Baja California             5      1     0     0         0
Baja California Sur         5      0     0     0         0
Campeche                    2      2     2     6         0
Chiapas                     1     30    66     7        20

In [82]:
df_IMM.drop(df_IMM[(df_IMM['CVE_ENT']=='NaN').index])
df_filtrado = df_IMM[df_IMM['POB_TOT'] < 5000]
df_IMM.head()

KeyError: ignored